$("#comparable_products_wrapper").html("<%= escape_javascript(render(:partial => "shared/comparable_products")) %>");

notice_div = $("div.notice");
error_div = $("div.errors");
<% notice = flash.delete(:notice)
if notice %>
  error_div.hide();
  if (notice_div.length > 0) {
    notice_div.html("<%= notice %>");
    notice_div.show();
  } else {
    $("#content .breadcrumbs").after('<div class="flash notice"><%= notice %></div>');
  } <%
end 
error = flash.delete(:error)
if error %>
  notice_div.hide();
  if (error_div.length > 0) {
    error_div.html("<%= notice %>");
    error_div.show();
  } else {
    $("#content .breadcrumbs").after('<div class="flash errors"><%= error %></div>');
  }
<% end %>
