<% @body_class = 'one-col' %>

<% content_for :head do %>
  <%= stylesheet_link_tag 'compare_products' %>
<% end %>

<h1>
  <%= t('compare_products.product_comparison') %>
</h1>
<% if @comparable_products.count > 1 %>
<table class="compare_product_show">
  <% comparison_rows_for(@comparable_products, @properties).each do |row| %>
    <tr>
      <th><%= row.shift -%></th>
      
      <% row.each do |field| %>
        <td><%= field || raw('&mdash;') %></td>
      <% end %>
    </tr>
  <% end %>
</table>
<% else %>
  <p><%= t('compare_products.insufficient_data') %></p>
<% end %>

<%= link_to t('continue_shopping'), @taxon ? seo_url(@taxon) : products_path, :class => 'continue button' %>
